body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}
header {
    background: #772432;
    color: #fff;
    padding: 1rem 2rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    color: #000;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #000;
    color: #fff;
    margin-top: 2rem;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:visited {
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
  background-color: #5f6a72;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #772432;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #5f6a72;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.list-link {
  color:#772432;
}

.list-link:visited {
  color: black;
}